{
  "owners": ["YOUR_DEFAULT_OWNER_ID_HERE"],
  "roles": {
    "admin": "YOUR_DEFAULT_ADMIN_ROLE_ID_HERE",
    "mod": "YOUR_DEFAULT_MOD_ROLE_ID_HERE"
  },
  "channels": {
    "logs": {
      "combined": "YOUR_COMBINED_LOG_CHANNEL_ID",
      "commands": "YOUR_MESSAGE_COMMAND_LOG_CHANNEL_ID",
      "slash": "YOUR_SLASH_COMMAND_LOG_CHANNEL_ID"
    },
    "welcome": "YOUR_WELCOME_CHANNEL_ID_HERE",
    "goodbye": "YOUR_GOODBYE_CHANNEL_ID_HERE",
    "rules": "YOUR_RULES_CHANNEL_ID_HERE"
  },
  "logging": {
    "combinedType": true
  }
}
